<!DOCTYPE HTML>
<html>
    <head>
        <title>Health Vocabulary REST API Demo - Applied Informatics </title>
    </head>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
    <script type="text/javascript">

        $(document).ready(function(){
            $("#lookup").submit(function(){
                $.get("/code/"+$("#vocab").val()+"/"+$("#code").val(),function(response){
                    $("#lookup_results").val(response);                   
                });
                return false;
            });


            $("#code_rel").submit(function(){
                $.get("/rel/"+$("#rel_vocab").val()+"/"+$("#rel_code").val()+"/"+$("#rel_type").val(),function(response){
                    $("#rel_results").val(response);                   
                });
                return false;
            });
            
            $("#map_target").submit(function(){
                $.get("/map/"+$("#source_vocab").val()+"/"+$("#source_code").val()+"/"+$("#target_vocab").val(),function(response){
                    $("#map_results").val(response);                   
                });
                return false;
            });

            $("#concept").submit(function(){
                $.get("/concepts/"+$("#cui").val(),function(response){
                    $("#concept_results").val(response);
                });
                return false;
            });

            $("#concept_term").submit(function(){
                $.get("/concepts?term="+$("#str").val()+"&sabs="+$("#sab").val(),function(response){
                    $("#concept_term_results").val(response);
                });
                return false;
            });

            $("#children").submit(function(){
                $.get("/concepts/" + $("#chd_cui").val() + "/children?sab=" + $("#chd_sab").val(), function (response) {
                    $("#concept_children_results").val(response);
                });
                return false;
            });

            $("#parent").submit(function(){
                $.get("/concepts/" + $("#par_cui").val() + "/parent?sab=" + $("#par_sab").val(), function (response) {
                    $("#concept_parent_results").val(response);
                });
                return false;
            });

            $("#synonym").submit(function(){
                $.get("/concepts/" + $("#syn_cui").val() + "/synonyms?sab=" + $("#syn_sab").val(), function (response) {
                    $("#concept_synonym_results").val(response);
                });
                return false;
            });

            $("#codes").submit(function(){
                $.get("/codes?code=" + $("#code").val() + "&sab=" + $("#code_sab").val(), function (response) {
                    $("#code_results").val(response);
                });
                return false;
            });

            $("#codes_detail").submit(function(){
                $.get("/codes/" + $("#detail_code").val() + "/sab/" + $("#detail_code_sab").val(), function (response) {
                    $("#detail_code_results").val(response);
                });
                return false;
            });

        });
        
    </script>

<body>
    <div class="container">
    <h1> Health Vocabulary REST API - Demo</h1> 

    <hr>

    <h2>Lookup Vocabulary Code</h2>

    <table class="table">
        <tr>
            <td> 
        <form method="GET" action="" id="lookup">
            <label>Vocabulary:</label>
                <input type="text" id="vocab" name="vocab" placeholder="Vocabulary name, e.g. LNC" value="LNC">
                <p class="help-block">The terminology short code, e.g. SNOMEDCT, RXNORM <a href="http://www.nlm.nih.gov/research/umls/knowledge_sources/metathesaurus/release/source_vocabularies.html" target="_blank">Full List</a></p>
            <label>Code Value:</label>
            <input type="text" id="code" name="code" placeholder="Code value, e.g. 20563-3" value="20563-3">
            <input type="submit" value="Lookup" class="btn btn-primary"/>
        </form>
            </td>
            <td>
                <textarea id="lookup_results" style="width:350px;height:80px">
                </textarea>
            </td>
        </tr>
    </table>
    <hr>

    <h2>Get Related Codes</h2>

    <table class="table">
        <tr>
            <td> 
        <form method="GET" action="" id="code_rel">
            <label>Vocabulary:</label>
                <input type="text" id="rel_vocab" name="rel_vocab" placeholder="Vocabulary name, e.g. LNC" value="LNC">
                <p class="help-block">The terminology short code, e.g. SNOMEDCT, RXNORM <a href="http://www.nlm.nih.gov/research/umls/knowledge_sources/metathesaurus/release/source_vocabularies.html" target="_blank">Full List</a></p>
            <label>Code Value:</label>
            <input type="text" id="rel_code" name="rel_code" placeholder="Code value, e.g. 20563-3" value="20563-3">


            <label>Relationship Type:</label>
            <input type="text" id="rel_type" name="rel_type" value="is_diagnosed_by">

            <input type="Submit" value="Get Related" class="btn btn-primary"/>
        </form>
            </td>
            <td>
                <textarea id="rel_results" style="width:350px;height:80px">
                </textarea>
            </td>
        </tr>
    </table>
    <hr>

    <h2>Map to a Target Vocabulary</h2>

    <table class="table">
        <tr>
            <td> 
        <form method="GET" action="" id="map_target">
            <label>Source Vocabulary:</label>
                <input type="text" id="source_vocab" name="source_vocab" placeholder="Vocabulary name, e.g. SNOMEDCT" value="SNOMEDCT">
                <p class="help-block">The terminology short code, e.g. SNOMEDCT, RXNORM <a href="http://www.nlm.nih.gov/research/umls/knowledge_sources/metathesaurus/release/source_vocabularies.html" target="_blank">Full List</a></p>
            <label>Source Code Value:</label>
            <input type="text" id="source_code" name="code" placeholder="Code value, e.g. 2904007" value="2904007">

            <label>Target Vocabulary:</label>
                <input type="text" id="target_vocab" name="target_vocab" placeholder="Vocabulary name, e.g. ICD9CM" value="ICD9CM">
                <p class="help-block">The terminology short code, e.g. SNOMEDCT, RXNORM <a href="http://www.nlm.nih.gov/research/umls/knowledge_sources/metathesaurus/release/source_vocabularies.html" target="_blank">Full List</a></p>
            <input type="Submit" value="Perform Mapping" class="btn btn-primary"/>
        </form>
            </td>
            <td>
                <textarea id="map_results" style="width:350px;height:80px">
                </textarea>
            </td>
        </tr>
    </table>

    <h2>Concept: Search concepts by term and source terminology (SAB)</h2>

    <table class="table">
        <tr>
            <td>
        <form method="GET" action="" id="concept_term">
            <label>Term in the vocabularly</label>
            <input type="text" id="str" name="str" placeholder="Term Vocabularly" value="">
            <label>Source Vocabularly:</label>
            <input type="text" id="sab" name="sab" placeholder="Source Vocabularly" value="">
            <input type="submit" value="Concept" class="btn btn-primary"/>
        </form>
            </td>
            <td>
                <textarea id="concept_term_results" style="width:350px;height:80px">
                </textarea>
            </td>
        </tr>
    </table>

    <hr>

    <h2>Concept: Get full details for a concept</h2>

    <table class="table">
        <tr>
            <td>
        <form method="GET" action="" id="concept">
            <label>Concept:</label>
                <input type="text" id="cui" name="cui" placeholder="Concept , e.g. C0000005" value="C0000005">
            <input type="submit" value="Concept" class="btn btn-primary"/>
        </form>
            </td>
            <td>
                <textarea id="concept_results" style="width:350px;height:80px">
                </textarea>
            </td>
        </tr>
    </table>

    <hr>

    <h2>Concept: Get all childrens for a given Source Vocabularly</h2>

    <table class="table">
        <tr>
            <td>
        <form method="GET" action="" id="children">
            <label>Concept:</label>
            <input type="text" id="chd_cui" name="chd_cui" placeholder="Concept" value="C0021364">
            <label>Source Vocabularly:</label>
            <input type="text" id="chd_sab" name="chd_sab" placeholder="Source Vocabularly" value="SNOMEDCT">
            <input type="submit" value="Children" class="btn btn-primary"/>
        </form>
            </td>
            <td>
                <textarea id="concept_children_results" style="width:350px;height:80px">
                </textarea>
            </td>
        </tr>
    </table>
    <hr>

    <h2>Concept: Get all parent for a given Source Vocabularly</h2>

    <table class="table">
        <tr>
            <td>
        <form method="GET" action="" id="parent">
            <label>Concept:</label>
            <input type="text" id="par_cui" name="par_cui" placeholder="Concept" value="C0021364">
            <label>Source Vocabularly:</label>
            <input type="text" id="par_sab" name="par_sab" placeholder="Source Vocabularly" value="SNOMEDCT">
            <input type="submit" value="Parent" class="btn btn-primary"/>
        </form>
            </td>
            <td>
                <textarea id="concept_parent_results" style="width:350px;height:80px">
                </textarea>
            </td>
        </tr>
    </table>
    <hr>

    <h2>Concept: Get all synonym strings for a given Concept.</h2>

    <table class="table">
        <tr>
            <td>
        <form method="GET" action="" id="synonym">
            <label>Concept:</label>
            <input type="text" id="syn_cui" name="syn_cui" placeholder="C0000005" value="C0000005">
            <label>Source Vocabularly:</label>
            <input type="text" id="syn_sab" name="syn_sab" placeholder="Source Vocabularly" value="MSH">
            <input type="submit" value="Synonym" class="btn btn-primary"/>
        </form>
            </td>
            <td>
                <textarea id="concept_synonym_results" style="width:350px;height:80px">
                </textarea>
            </td>
        </tr>
    </table>
    <hr>

    <h2>Code: Search all codes.</h2>

    <table class="table">
        <tr>
            <td>
        <form method="GET" action="" id="codes">
            <label>Code:</label>
            <input type="text" id="code" name="code" placeholder="D012711" value="D012711">
            <label>Source Vocabularly:</label>
            <input type="text" id="code_sab" name="code_sab" placeholder="Source Vocabularly" value="MSH">
            <input type="submit" value="Synonym" class="btn btn-primary"/>
        </form>
            </td>
            <td>
                <textarea id="code_results" style="width:350px;height:80px">
                </textarea>
            </td>
        </tr>
    </table>
    <hr>

    <hr>

    <h2>Code: Get details about a code.</h2>

    <table class="table">
        <tr>
            <td>
        <form method="GET" action="" id="codes_detail">
            <label>Code:</label>
            <input type="text" id="detail_code" name="detail_code" placeholder="D012711" value="D012711">
            <label>Source Vocabularly:</label>
            <input type="text" id="detail_code_sab" name="detail_code_sab" placeholder="Source Vocabularly" value="MSH">
            <input type="submit" value="Synonym" class="btn btn-primary"/>
        </form>
            </td>
            <td>
                <textarea id="detail_code_results" style="width:350px;height:80px">
                </textarea>
            </td>
        </tr>
    </table>

    </div>
</body>
</html>